* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: white;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    color: #322e39;
}

::selection {
    background: #111926;
    color: #F2F7FE;
}

.dropzone-box {
    border-radius: 1rem;
    margin: 1rem 0;
    min-width: 26rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 26rem;
    box-shadow: rgba(50, 50, 50, 0.4) 0px 2px 8px 0px;
    border: 1px solid #EDF1F3;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    color: #111926;
    transition: all 0.3s ease;
    overflow: hidden;
}

.buble {
    position: absolute;
    border-radius: 999px;
    z-index: -1;
}

.buble:nth-child(1) {
    width: 360px;
    height: 360px;
    background-color: #bfdbfe;
    filter: opacity(0.55) blur(15px);
    top: -120px;
    left: 100px;
}

.buble:nth-child(2) {
    width: 300px;
    height: 300px;
    background-color: #fbcfe8;
    filter: opacity(0.55) blur(15px);
    top: 280px;
    left: -100px;
}

.buble:nth-child(3) {
    width: 360px;
    height: 360px;
    background-color: #d1d5db;
    filter: opacity(0.5) blur(15px);
    top: 240px;
    left: 240px;
}

.dropzone-box h2 {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    color: #322e39;
}

.dropzone-box p {
    font-size: 1rem;
    margin: 0;
    color: #322e39;
}

.dropzone-area {
    padding: 1rem;
    position: relative;
    margin: 1rem 0;
    min-height: 10rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #D4DCE6;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dropzone-descriptions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.dropzone-descriptions-span{
    font-size: 1rem;
}

.dropzone-area .file-info {
    font-size: 1.1rem;
}

.dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-area .file-upload-icon svg {
    height: 6rem;
    max-width: 6rem;
    width: 100%;
    margin-bottom: 0.5rem;
    stroke: #aeb3b9;
}

.dropzone-area:hover {
    background: rgba(242, 247, 254, 0.3);
}

.dropzone--over {
    border: 2px solid #111926;
    background: rgba(242, 247, 254, 0.3);
}

.dropzone-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    gap: 1rem;
}

.dropzone-actions button {
    flex-grow: 1;
    min-height: 2rem;
    font-size: 1rem;
    border: none;
    transition: all 0.3 ease;
}

.dropzone-help {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropzone-help svg {
    width: 2.25rem;
    height: 2.25rem;
}

.dropzone-actions button[type='reset'] {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #322e39;
    background: #FEFFFF;
    cursor: pointer;
    border: 1px solid #D4DCE6;
    transition: all 0.3s ease;
}

.dropzone-actions button[type='reset']:hover {
    border: 1px solid #111926;
    color: #322e39;
}

.dropzone-actions button[type='submit'] {
    background: #111926;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #F2F7FE;
    border: none;
    cursor: pointer;
}

.dropzone-actions button[type='submit']:hover {
    background: #1c2533;
}

.action-button {
    display: flex;
    gap: 0.5rem;
    max-width: 12rem;
}